footer#footer
  .footer-widget
    .container
      .row
        .col-sm-2
          .single-widget
            h2 About
            ul.nav.nav-pills.nav-stacked
              li
                a(href='#') Blah
              li
                a(href='#') Blah
        .col-sm-2
          .single-widget
            h2 About
            ul.nav.nav-pills.nav-stacked
              li
                a(href='#') Blah
              li
                a(href='#') Blah
        .col-sm-2
          .single-widget
            h2 About
            ul.nav.nav-pills.nav-stacked
              li
                a(href='#') Blah
              li
                a(href='#') Blah
        .col-sm-2
          .single-widget
            h2 About
            ul.nav.nav-pills.nav-stacked
              li
                a(href='#') Blah
              li
                a(href='#') Blah
        .col-sm-3.col-sm-offset-1
          .single-widget
            h2 Newsletter
            form.searchform(action='#')
              input(type='text', placeholder='Your email address')
              button.btn.btn-default(type='submit')
                i.fa.fa-arrow-circle-o-right
              p
                | Subscribe and get the latest
                br
                | updates in your inbox
  .footer-bottom
    .container
      .row
        p.pull-left Copyright © 2016 College Select Pty Ltd.
