header#header
  .header-middle
    .container
      .row
        .col-sm-4
          .logo.pull-left
            a(href='/home')
              img(src="../../images/logo-arrow.png", alt='')
              h1 College Select
        .col-sm-8.col-xs-12
          .top-menu.pull-right
            ul.nav.navbar-nav
              li
                a(href='#')
                  i.fa.fa-user
                  |  Account
              li
                a(href='#')
                  i.fa.fa-star
                  |  My Shortlist
              li
                a(href='/login')
                  i.fa.fa-lock
                  |  Login
  .header-bottom
    .container
      .row
        .col-sm-9
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
          .mainmenu.pull-left
            ul.nav.navbar-nav.collapse.navbar-collapse
              li
                a.active(href='/home') Home
              li
                a(href='#') Search
              li <!--.dropdown-->
                a(href='#') Blog

                //-   i.fa.fa-angle-down
                //- ul.sub-menu(role='menu')
                //-   li
                //-     a(href='http://colleges.usnews.rankingsandreviews.com/best-colleges/rankings') College Ranking 2016
                //-   li
                //-     a(href='http://www.princetonreview.com/college-advice/top-ten-college-majors') Top 10 Degrees