extends layout

block content
  section#form
  // form
  .container
    .row
      .col-sm-4.col-sm-offset-1
        .login-form
          // login form
          h2 Login to your account
          a(href='/auth/facebook')
            img(src="../../images/icon-fb.png", alt='')
          a(href='/auth/twitter')
            img(src="../../images/icon-twitter.png", alt='')
          form(action='/', method='post')
            input(type='text', placeholder='Name')
            input(type='email', placeholder='Email Address')
            span
              input.checkbox(type='checkbox')
              |                 Keep me signed in
            button.btn.btn-default(type='submit') Login
          // /login form
      .col-sm-1
        h2.or OR
      .col-sm-4
        .signup-form
          // sign up form
          h2 New User Signup!
          form(action='/', method='post')
            input(type='text', placeholder='Name')
            input(type='email', placeholder='Email Address')
            input(type='password', placeholder='Password')
            button.btn.btn-default(type='submit') Signup


